@import "../../../../styles/style.scss";

.addto {
    opacity: 0;
    transform: scale(0);
    transform-origin: 50% 0%;
    width: 420px;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 11;
    background: #fff;
    margin-top: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(0,0,0, 20%);
      
}

.addto__active{
    animation: isVisible .3s linear 1 normal;
    opacity: 1;
    transform: scale(1);
}

.addto__title {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 32px;
    letter-spacing: .3rem;
}

.goods__items {
    padding: 0 32px;
    overflow-y: scroll;
    min-height: 250px;
    max-height: 450px;
    
    &::-webkit-scrollbar {
     width: 10px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
      background-color: #f9f9fd;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: linear-gradient(180deg, #00c6fb, #005bea);
    }
   
}

.goods__empty {
    padding: 0 32px 32px 32px;
    font-size: 1.8rem;
 
}


.btn{
    color:lighten($btn_order-color,13%);
    display: inline-block;
    margin: 2rem 0 0rem 0;
    font-size: 1.8rem;
    line-height: 4rem;
    border-radius: $border-radius;
    position: relative;
    width:auto;
    text-align: center;
    border:none!important;
    
    &:hover{
        color:aliceblue;
        background-color:lighten($btn_order-color,13%); 
    }
 }

.goods__image{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-image-icon {
    max-width: 100px;
    max-height: 100px;
}

.goods__shop {
    width: calc(100% - 100px);
    position: relative;
    padding: 0 32px;
}

.goods__item{
    align-items:center;
    color:rgb(0, 0, 0);
    display:flex;
    flex-wrap:wrap;
    height:100px;
    line-height:18.2px;
    margin-bottom:0px;
}

.goods__mod {
    font-size: 1.4rem;
    margin-top: 8px;
}
.goods__name{
    font-size: 1.6rem;
}

.goods__price{
    font-weight: 700;
    font-size: 2rem;
}

.goods__count{
    font-size: 1.6rem;
    margin-left: 2rem;
}

.goods__remove{
 position: absolute;
 background-color: #00b454;
 top:calc(50% - 12px);
 right: 0;
 width:23px;
 height: 23px;
 border-radius: 50%;
 text-align: center;
 font-size: 2.6rem;   
 padding: 3px 0 0 0;
 font-weight: 700;
 color: aliceblue;
  transition: all .2s linear;  
    &:hover{
        box-shadow: 0 0 3px 1px darken(#00b454,13%);
    }
}

.box{
   display: flex;
    justify-content: space-around;
    flex:1 0 50%;
    margin-bottom: 3rem;
}

.btn{
    padding: .1rem 2rem;
    border:1px solid #00b454!important;
    border-radius: $border-radius;
 
}
.btn__active{
    color:aliceblue;
    background-color:#00b454; 
}

.goods__priceBox {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;
}

.cart__img{
    max-width:60px;
    height: auto;
}

@keyframes isVisible {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}