@import "../../styles/style.scss";



.slider__wrapper{
    position: relative;
   
}

.slick-slider{
    background-color: blue;
}

.slick-list{
    max-height: calc(100vh-150);
}

.slider_item{
    display: flex!important;
    width:100%;
    justify-content: space-between;
    border-radius:$border-radius;
    overflow: hidden;
    
    @include hands{ 
       
       &{
        flex-direction: column;
           
        }
    }
    
    @include phone{ 
       
       &{
        flex-direction: column;
           
        }
    }
}

.slider_img_box{
    width:100%;
    margin: 0;
    
    .slider__img{
    margin:0 auto;
    width:100%;
    height:100%;
     }
}

.slider_item_textbox{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 55px 25px 0 65px;
    width:30%;
   
    
        @include hands{
        &{
          padding: 2.5rem .5rem 2.5rem 2.5rem;
          margin-bottom: 0;
          width:100%;
        }
    }
  
    @include phone{
        &{
            font-size: 1.5rem;
             line-height: 1rem;
        }
    }
}

.slider_item-title{
    font-size: 3rem;
    line-height: 2.5rem;
    
    @include hands{
        &{
            font-size: 2rem;
             line-height: 1.5rem;
        }
    }
  
    @include phone{
        &{
            font-size: 1.5rem;
             line-height: 1rem;
        }
    }
}

.slider_item-subtitle{
    font-size: 1.5rem;
    padding:30px 0 0 0;
    line-height: 1.8rem;
    
      @include hands{
        &{
            font-size: 1rem;
             line-height: 1.2rem;
        }
    }
  
    @include phone{
        &{
            font-size: .8rem;
             line-height: 1rem;
        }
    }
}

