@import '../../styles/style.scss';

.product {
  position: relative;
  margin: 0 auto;
  max-width: 1170px !important;
  height: 100%;
  display: grid;
  margin-top: 85px;
  background: #FFFFFF;
  box-shadow: 4px 4px 6px rgba(116, 111, 111, 0.06);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  z-index: 100;

  @include phone {
    & {
      grid-template-columns: 100%;
    }
  }

  .product__content {
    margin-top: 57px;
    padding: 0 31px;
    margin-bottom: 57px;


    .product__images {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;


      // @include lap {
      //   & {
      //     flex-direction: column;
      //     flex-wrap: nowrap;
      //   }
      // }

      .image_block {
        width: 48%;
        overflow: hidden;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
      
        @include lap {
          & {
            width: 47%;
          }
        }
        
        .image_size {
          display: inline;
          height: 100%;
        }
        img {
          max-width: 100%;
          max-height: 100%;
          //border-radius: 5px;
        }

      }

      .image_block:first-child {
        width: 100%;
        //height: 367px;
        overflow: hidden;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 34px;
        border: none;

        @include lap {
          & {
            width: 100%;
          }
        }

      }


    }
  }

  .product__info {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 57px;
    margin-bottom: 57px;
    font-size: 18px;
    
    @include phone {
      & {
        display: none;
      }
    }

    .product__title {
      font-family: Philosopher;
      font-style: normal;
      font-weight: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 45px;
    }

    .product__discription {
      margin-top: 41px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      margin-right: 20px;
    }

    .product__count {
      margin-top: 22px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
    }

    .size {
      width: 152px;
      height: 20px;
      margin-top: 10px;
      text-align: center;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.38);
      border: 0.2px solid rgba(0, 0, 0, 0.38);
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      .minus, .plus {
        display: flex;
        align-items: center;
        margin-left: 6px;
        margin-right: 6px;
        cursor: pointer;
      }

    }

    .price {
      margin-top: 10px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: #7DC048;
    }

    .buttons_group {
      margin-top: 15px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 22px;

      button {
        width: 100%;
        background-color: #7DC048;
        margin: 0 auto;
        padding: 10px 0px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: white;
        border: 1px solid #7DC048;
      }

      button:hover {
        background-color: white;
        color: #7DC048;
      }
    }

  }

}


// .product__title {
//   font-family: Philosopher;
//   font-style: normal;
//   font-weight: normal;
//   font-weight: normal;
//   font-size: 40px;
//   line-height: 45px;
// }

// .product__size {
//   margin-top: 10px;
// }

// .price {
//   margin-top: 10px;
// }

// button {
//   margin: 0 auto;
//   width: 80%;
//   border: 2px solid green;
//   //border-radius: 6px;
//   margin-top: 20px;
//   font-weight: bold;
//   color: white;
//   background-color: green;
//   font-size: 14px;
//   padding: 10px;
//   cursor: pointer;
// }

// .rate {
//   margin-left: 10px;
// }
