@import "../../styles/style.scss";

.product {
    margin: 0 auto;
    max-width: 1170px !important;
    height: 100%;
    display: grid;
    grid-template-columns: 74% 32%;
}
  
.product__images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image_block {
    width: 47%;
    overflow: hidden;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 5px;
}
  
.image_size {
    display: inline;
      height: 100%;
}
img {
    max-width: 100%;
    max-height: 100%;
  border-radius: 5px;
}
  
.product__info {
    color:black;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    font-size: 18px;
}
.product__partNumber {
    color: grey;
    font-size: 16px;
    margin-top: 10px;
}
  
.product__title {
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
}
.rating {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
  
.stars {
    height: 20px;
    width: 20px;
    
}
  
.product__size {
    margin-top: 10px;
}
  
.price {
    margin-top: 10px;
}
  
button {
    margin: 0 auto;
    width: 80%;
    border: 2px solid green;
    border-radius: 6px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    background-color: green;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}
  
.product__discription {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
}

.rate {
    margin-left: 10px;
}