@import "../../styles/style.scss";

.product {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 3rem;
    grid-row-gap: 3rem;
    margin-top: 2rem;
    align-items: center;
}

.img__box{
grid-column: 1;
    width:100px;
    height: 100px;
}

.product_content{
    grid-column: 2/4;
}

.product__content__span{
    font-size: 2.3rem;
    display: block;
    line-height: 2.5rem;
    padding: 0 1rem 0 0;
    
    &--quantity{
        font-size: 1.8rem;
        margin-top: 1rem;
    }
}
.product_select{
    grid-column: 5;
    align-items: center;
    
}

.product_quantity{
    grid-column: 4;
}

.cart__select{
    @include select; 
    min-width: 80px;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    line-clamp: 3;
    @include scrollbar;
    
 
    
}

.cart__select > option {
    max-height: 30px;
    border: 6px;

    padding-right: 15px;
    height: 31px;
    width: 220px;
    @include option;
}

.cart__select > option:focus{
    background-color: aqua;
    max-height: 30px;
    
}

.cart__select:active,
.cart__select:focus {
    max-height: 30px;
}
.cart__select:active>*{
    max-height: 30px;
}
.subtitle{
    display: block;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color:#666;
}

.product__btn{
    border:1px solid green;
    border-radius: 50%;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 2.7rem;
    transition: all .2s linear;
    
    &:hover{
        color:aliceblue;
        background-color: green;
    }
}