@import '../../styles/style.scss';

// .product {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-column-gap: 92px;
//   grid-row-gap: 50px;
//   margin-top: 2rem;
//   align-items: center;
// }

.product {
  display: grid;
  grid-template-columns: 31.48% 63.33%;
  grid-column-gap: 5%;
  height: 115%;
  //margin-top: 2rem;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.img__box {
  display: flex;
  width: 100%;
  align-items: center;
  //height: 100%;
  img {
    width: 100%;
    //height: 100%;
  }
}

.product_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 23px 11px 17px 0;

  .product__content__span {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 45px;
    color: #000000;
  }

  .information {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-top: 19px;

    .text {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
    }

    .quantity {
      height: 100%;

      .size {
        width: 152px;
        height: 20px;
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.38);
        border: 0.2px solid rgba(0, 0, 0, 0.38);
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .text {
          font-size: 16px;
          line-height: 18px;
          color: rgba(0, 0, 0, 0.38);
        }
  
        .minus, .plus {
          display: flex;
          align-items: center;
          margin-left: 6px;
          margin-right: 6px;
          cursor: pointer;
        }
  
      }
    }

    .price {
      height: 100%;
      width: 100%;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      
      .green {
        color:#7DC048;
        margin-top: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
      }

    }

    .close_block {
      height: 100%;
      width: 100%;
      margin-top: 13px;
      display: flex;
      justify-content: flex-end;
      margin-right: 5px;
    }

    button {
      color: #FFFFFF;
    }
  }
}

.product_select {
  grid-column: 5;
  align-items: center;
}

.product_quantity {
  grid-column: 4;
}

.cart__select {
  @include select;
  min-width: 80px;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  line-clamp: 3;
  @include scrollbar;
}

.cart__select > option {
  max-height: 30px;
  border: 6px;

  padding-right: 15px;
  height: 31px;
  width: 220px;
  @include option;
}

.cart__select > option:focus {
  background-color: aqua;
  max-height: 30px;
}

.cart__select:active,
.cart__select:focus {
  max-height: 30px;
}
.cart__select:active > * {
  max-height: 30px;
}
.subtitle {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #666;
}

.product__btn {
  border: 1px solid green;
  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 2.7rem;
  transition: all 0.2s linear;

  &:hover {
    color: aliceblue;
    background-color: green;
  }
}
