@import "../../styles/style.scss";

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width:280px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: 0 0 .5rem rgba(#ccc,.6);
    padding: 1rem;
    transition:all .2s ease-in-out;
    margin: 0 10px;
    
    &:hover{
     box-shadow: 0 0 .8rem rgba(#333,.9);   
    }
    
    &:hover
    .card__item img
    {
      transform:scale(1.3);   
      
    }
    
    @inlude hands{
        &{
    margin:0 auto;
    }
    }
    
}

.card__item{
  overflow: hidden;
  &--img{
     display: block;
        width: 100%;
        border: 1ps solid red;
        transition:all .3s ease-in-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
  }
    
}

.card__box_item{
    display: block;

    &--img{
     display: block;
        max-width: 100px;
        border: 1ps solid red;
    }
    
    &--title{
        font-size: 2.4rem;
        padding: 1.3rem 0 0 0;
    }
    
    &--weight{
        font-size: 1.8rem;
        color: #999;
        padding:.5rem 0;
    }
    
     &--price{
         font-size: 2.8rem;
         padding:1rem .5rem;
         border-radius: $border-radius;
         background-color: #337afc;
         color: #fff;
         font-weight: bold;
         max-width: 100px;
         display: inline-block;
    }
    
     &--info{
        font-size: 1.8rem;
        color: blue;
    }
}

.btn{
    width:80%;
    display: block;
    margin: 0 auto;
    margin-top: 23px;
    margin-bottom: 23px;
    color:white;
    font-size: 2rem;
    padding: .8rem;
    border-radius: $border-radius;
 }

    .btn__order{
   
    transition: all .3s ease-in-out;
    background-color: lighten($btn_order-color,13%);  
       
    &:hover{
       box-shadow:  0 0 .8rem rgba(darken($btn_order-color,13%),.5)!important; 
        }
}