.about_block {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  font-size: 20px;
  position: relative;

  .about_text_title {
    margin-top: 50px;
  }
  .about_text {
    margin-top: 20px;
    text-indent: 2.5rem;
  }
}
