@import "../../../../styles/style.scss";

.card{
    display: flex;
    position: relative;
    flex:0 0 30%;
    border-radius: $border-radius;
    height: 190px;
    margin-bottom: 3rem;
    overflow: hidden;
    
   
}

.card__img{
    position: absolute;
    left:0;
    right: 0;
    width: 100%;
    transition: transform .5s ease-out;
     &:hover{
        transform: scale(1.3);
        
    }
}

.card__title{
    
}