@import "styles/style.scss";
.page{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2rem;
}

.panel__content{
    grid-column:1 /2 ;
    grid-row:1;  
    border-right:1px solid red;
}

.page__content{
  grid-column:2 / 4;
  grid-row:1;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex:1 0 30%;
    
}


