.location {
  display: flex;
  flex-direction: column;

  .backLink {
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    svg {
      width: 23.5px;
    }

    .text {
      margin-left: 15.5px;
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      width: 51px;
      height: 25px;
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
      border-bottom: 1px solid #000000;
    }
  }

  .path {

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-top: 71px;

    .link_block {
      display: flex;
      flex-direction: row;
      align-items: center;

      svg {
        margin-right: 17px;
      }

    }


  }
}

.link {
  // color: darken(lightgray, 10%);
  // font-size: 2rem;
  // transition: color 0.2s linear;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-right: 17px;
  
  .link_text {
    color: #559C1D;
  }

  &:hover {
    color: darken(lightgray, 18%);
  }
}
