@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

// Import css files
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html {
    font-size: $font-html;
    line-height:$line-height-html;
}

body {

}

header {

}

::-webkit-scrollbar {
    width: 0;
}

.main_title{
    color:blue;
}