$font-html:            14px;
$font-main:            'Lato', sans-serif;
$font-second:          'Raleway', sans-serif;

$color-header:          #10101DE5;
$color-text:            #FFF; 
$color-titles:          #444;
$color-btn:             #FFF;
$color-btn_selected:    #42A9ED;

$color-footer:          #3d4050;

$color-highlight:       #42A9ED;

$border-radius:         .3rem;