$font-html: 62.5%;
$line-height-html: 1.8rem;
$font-main: 'Lato', sans-serif;
$font-second: 'Raleway', sans-serif;

$color-header: #10101de5;
$color-text: #fff;
$color-titles: #444;
$color-btn: #fff;
$color-placeholder: #666;

$color-btn_selected: #42a9ed;
$color-input-placeholder: #8c8c8c;
$color-border-form: #aaa;
$color-preloader: lighten(#42a9ed, 10%);
$color-footer: #e3e3e3;
$color-footer-bottom: #666;

$form-box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.6);
$icon-shadow: 0 0 0.3rem rgba(155, 200, 225, 1);
$icon-shadow-hover: 0 0 0.8rem darken(rgba(155, 200, 225, 1), 18%);

$color-auth-link: blue;

$color-arrow: lighten(blue, 10%);
$color-link: lighten(blue, 5%);
$color-navbar: rgba(#42a9ed, 0.6);
$color-highlight: #42a9ed;

$border-radius: 0.8rem;

$btn_order-color: green;

$btn-font-size: 2rem;
$btn-primary: lightblue;

$border-color-input: #000;
