@import "../../../styles/style.scss";

.product {
    margin: 0 auto;
    max-width: 700px !important;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
   
    .product__content {
        width: 100%;
        margin-left: 5px;
    }

    .product__info {
        width: 100%;
        color:black;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 5px;
        font-size: 18px;

        .buttons__row {
            display: flex;
            flex-direction: row;
            max-width: 180px;
            margin-top: 5px;

        }
        .product__quantity {
            margin-top: 5px;
        }
          
        button {
        width: 25%;
        border-radius: 6px;
        font-weight: bold;
        color: white;
        background-color: green;
        font-size: 16px;
        padding: 10px;
        cursor: pointer;
        
            &:last-child {
                margin-left: 10px;
            }
        }
    }
}
  
.image_block {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}
  
.image_size {
    display: inline;
    width: 100%;
}
img {
    width: 100%;
    border-radius: 5px;
}
  
.product__partNumber {
    color: grey;
    font-size: 16px;
    margin-top: 5px;
}
  
.product__title {
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
}
  
  
.product__size {
    margin-top: 5px;
}
  
.price {
    margin-top: 5px;
}

  
