.product__list{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    flex:1 0 21%;
}
.product__list__title{
    font-size: 4rem;
    padding-left: 10px;
}

