@import "../../styles/theme/breakpoints.scss";

.nav{
    width:100%;
    height:30px;
    background-color:gray;
    display:flex;
    justify-content:space-between;
    margin:0 auto;
    align-items: center;
}

@include phone {
    .contain {
        padding: 0 10px;
    }
}

@include desk {
    .contain {
        padding: 0 20px;
    }
}

.nav__links{
    display:flex;
    
    & a{
        padding-left:15px;
    }
}