.nav{
    width:80%;
    height:30px;
    backgound-color:gray;
    display:flex;
    justify-content:space-between;
    margin:0 auto;
    align-items: center;
}

.nav__links{
    display:flex;
    
    & a{
        padding-left:15px;
    }
}